html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-family: inherit;
  color: #ffffff;
  min-height: 38px;
  font-size: 14px;
  line-height: 18px;
  border: none;
  padding: 0;
  border-radius: 4px;
}

.btn-transparent {
  width: 137px;

  background-color: rgba(0, 0, 0, 0.1);
}

.btn-transparent:hover {

  background-color: rgba(0, 0, 0, 0.2);
}

.btn-transparent:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.authorization-container a:hover,
.user-nav a:hover {
  color: #ee3643;
}

.authorization-container a:active,
.user-nav a:active {
  color: #cacaca;
}

.authorization-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  margin-top: 10px;
}

.authorization-container li {
  background-color: #ffffff;
  padding: 10px 25px;
  margin-right: 10px;
}

.authorization-container li:last-of-type {
  margin-right: 0;
}

.authorization-container .btn-login {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 48px;
}



.btn-login::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  top: 13px;
  left: 15px;
  opacity: 0.3;
}

.authorization-btn a {
  line-height: 21px;
  font-size: 21px;
  min-height: 45px;
  color: #000000;
}

.buy-btn {
  width: 135px;
  line-height: 18px;
  background-color: #63a63e;
  -webkit-box-shadow: 0 3px 0 0 #367315;
  box-shadow: 0 3px 0 0 #367315;
  position: relative;
}

.red-btn {
  background-color: #ee3643;
}

.red-btn:hover {
  background-color: #ca2c37;
}


.red-btn:active {
  background-color: #ba2732;
}

.buy-btn::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(./../img/icon-cart.svg);
  opacity: 0.3;
  top: 11px;
  left: 14px;
}

.buy-btn:hover::before {
  opacity: 1;
}

.buy-btn:active::before {
  opacity: 1;
}

.buy-btn:hover {
  background-color: #5fbb2d;
}

.buy-btn:active {
  background-color: #518534;
}

.bookmark-btn {
  width: 135px;
  line-height: 18px;
  border: 3px solid #63a63e;
  color: #32425c;
  background-color: #ffffff;
}

.bookmark-btn:hover {
  border-color: #32425c;
}

.bookmark-btn:active {
  border-color: #c1c6ce;
  color: #eaebed;
}

.index-body {
  font-size: 14px;
  line-height: 24px;
  position: relative;
}

.catalog-body {
  font-size: 13px;
  line-height: 18px;
}

.catalog-body main {
  font-family: 'PT Sans', Arial, sans-serif;
  color: #000000;
  margin-bottom: 60px;
}

.page-header {
  min-width: 1200px;
  background-color: #f4f7f9;
  min-height: 320px;
  margin-bottom: 59px;
}

.page-header address {
  color: #32425c;
}

.header-top-wrapper {
  background-color: #293449;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 18px;
  width: 1200px;
  padding-left: 130px;
  padding-right: 130px;
}

.header-top a {
  color: #ffffff;
}

.field-search {
  width: 222px;
  background-color: #293449;
  padding-left: 48px;
  border: none;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 15px 11px;
}

.field-search:hover {
  background-image: url(../img/icon-search-white.svg);
}

.field-search::-webkit-input-placeholder {
  color: #ffffff;
}

.field-search:-ms-input-placeholder {
  color: #ffffff;
}

.field-search::-ms-input-placeholder {
  color: #ffffff;
}

.field-search::placeholder {
  color: #ffffff;
}

.field-search:focus {
  background-color: #ffffff;
  color: #000000;
  background-image: url(../img/icon-search-red.svg);
}

.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.order-nav a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 10px 29px 10px 45px;
}

.order-nav a:last-of-type {
  padding: 10px 21px;
}

.bookmark-icon::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 18px;
  opacity: 0.3;
}

.cart-icon::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: 18px;
  top: 12px;
  opacity: 0.3;
}

.bookmark-icon:hover::before,
.cart-icon:hover::before,
.username-container:hover::before,
.btn-login:hover::before {
  opacity: 1;
}

.bookmark-icon:active::before,
.cart-icon:active::before,
.username-container:active::before,
.btn-login:active::before {
  opacity: 0.3;
}

.order-nav a:active {
  color: #8b8e94;
}

.checkout-btn {
  background-color: #63a63e;
}

.checkout-btn:hover {
  background-color: #5fbb2d;
}

.checkout-btn:active {
  background-color: #518534;
}

.site-descrip {
  line-height: 23px;
  font-size: 16px;
  width: 210px;
  min-height: 64px;
  color: #ee3643;
  font-style: italic;
  font-weight: 400;
}

.main-nav {
  width: 1200px;
  margin: 0 auto;
  padding-left: 130px;
  padding-right: 130px;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 60px;
  background-color: #32425c;
  padding-left: 22px;
  padding-right: 22px;
}

.main-nav li {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: inherit;
}

.new-ribbon::after {
  content: "new";
  font-size: 14px;
  font-family: 'PT Sans', Arial, sans-serif;
  letter-spacing: -1px;
  font-weight: 400;
  background-color: #ff5257;
  padding: 2px 45px;
  right: -34px;
  top: 4px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #ff5257;
  color: #ffffff;
  z-index: 4;
}

.main-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 60px;
  color: #ffffff;
  line-height: 17px;
  font-size: 17px;
}

.main-nav a:hover {
  background-color: #293449;
}

.main-nav a:active {
  background-color: #1d2739;
  color: #a1a4a8;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  width: 220px;
  text-transform: uppercase;
  background-color: #ee3643;
  min-height: 42px;
  margin: 0;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.address-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-tel {
  padding: 10px 5px 10px 70px;
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  position: relative;
}

.address-container address {
  padding-left: 7px;
  font-style: normal;
}

.header-tel::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: 10px;
  left: 10px;
  background-image: url(./../img/icon-phone.svg);
  background-repeat: no-repeat;
}

.user-container-wrapper {
  width: 301px;
}

.user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}

.username-container {
  display: block;
  padding: 10px 10px 10px 48px;
  width: 260px;
  min-height: 45px;
  margin-bottom: 2px;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  position: relative;
}

.username-container:active {
  color: #c5c5c5;
}

.username-container::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  left: 15px;
  opacity: 0.3;
}

.logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  background-color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logout path:hover {
  fill: #000000;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 16px;
  padding: 3px 72px 0 19px;
}

.user-nav li {
  position: relative;
  margin-right: 32px;
}

.user-nav li:last-of-type {
  margin-right: 0;
}

.user-nav li::after {
  content: "";
  position: absolute;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  right: -20px;
  top: 8px;
  background-color: #32425c;
}

.user-nav li:last-of-type::after {
  content: "";
  width: 0;
  height: 0;
  border: 0;
}

.have-purchase {
  background-color: #ee3643;
}

.user-nav a {
  color: #47546a;
  border-bottom: 1px solid #47546a;
}

.user-nav a:hover {
  border-bottom: 1px solid #ee3643;
}

.user-nav a:active {
  border-bottom: 1px solid #cacaca;
}

.header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 35px 0 30px 0;
  width: 1200px;
  margin: 0 auto;
  padding-left: 182px;
  padding-right: 130px;
}

.main-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-left: 130px;
  padding-right: 130px;
  ;
}

.cards-container {
  margin-bottom: 50px;
}

.product-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}

.discount-card-list li {
  margin-bottom: 20px;
}

.discount-card-list li:last-of-type {
  margin-bottom: 0;
}

.category-card {
  overflow: hidden;
  width: 300px;
  position: relative;
  min-height: 123px;
  padding: 20px 20px 22px 20px;
}

.category-card h3 {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 12px;
}

.materials-card {
  background-color: #ffbf47;
  background-image: url(../img/materials.svg);
  background-repeat: no-repeat;
  background-position: 213px 32px;
}

.instruments-card {
  background-color: #3bbce3;
  background-image: url(../img/instruments.svg);
  background-repeat: no-repeat;
  background-position: 200px 32px;
}

.technique-card {
  background-color: #dc91d8;
  background-image: url(../img/technique.svg);
  background-repeat: no-repeat;
  background-position: 190px 32px;
}

.discount-card {
  background-color: #8ed78f;
  background-image: url(../img/discount.svg);
  background-repeat: no-repeat;
  background-position: 195px 26px;
}

.delivery-card {
  background-color: #ffbf47;
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position: 190px 32px;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.slider {
  width: 620px;
  min-height: 266px;
}

.slider-item {
  position: relative;
  padding: 25px;
  min-height: inherit;
  background-color: #837567;
}

.slider-item b {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-btn {
  width: 195px;
}

.catalog-btn:hover {
  background-color: #ca2c37;
}

.catalog-btn:active {
  background-color: #ba2732;
}

.slider {
  width: 620px;
  min-height: 266px;
  background-color: #8d7a68;
  position: relative;
}

.slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  top: 113px;
  padding-left: 25px;
  padding-right: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider-controls button {
  width: 22px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 5;
  cursor: pointer;
}

.prev-slide {
  background-image: url(./../img/icon-left.svg);
  background-repeat: no-repeat;
}

.next-slide {
  background-image: url(./../img/icon-right.svg);
  background-repeat: no-repeat;
}

.slider-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 295px;
  top: 220px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 30px;
  z-index: 5;
}

.slider-indicators input {
  display: none;
}

.slide-indicator {
  display: block;
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider-radio:checked+.slide-indicator {
  background-color: #ee3643;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 620px;
  padding: 25px;
  padding-bottom: 22px;
  overflow: hidden;
}

.slider-btn {
  width: 195px;
}

.slide b {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 5px;
}

.slide p {
  font-size: 18px;
  margin: 0;
  margin-bottom: 120px;
}

.first-slide {
  background-image: url(./../img/drils.jpg);
  background-repeat: no-repeat;
  z-index: 2;
}

.second-slide {
  background-image: url(./../img/perforators.jpg);
  background-repeat: no-repeat;
  z-index: 1;
}

.special-offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.popular-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f9f5f0;
  margin-bottom: 20px;
  padding: 30px 24px 26px 27px;
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  font-weight: 400px;
  color: #32425c;
}

.popular-container .btn {
  width: 253px;
  margin-top: -5px;
}

.popular-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}

.popular-products .product-card {
  margin-right: 20px;
  margin-bottom: 10px;
}

.popular-products li:nth-of-type(4n) {
  margin-right: 0;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 220px;
  min-height: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: 'PT Sans', Arial, sans-serif;
  padding: 4px 2px 20px 2px;
}

.product-card .price {
  font-size: 17px;
  line-height: 18px;
}

.buy-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  background-color: #ffffff;
  width: 214px;
  padding-top: 40px;
  padding-bottom: 20px;
  min-height: 144px;
}

.perforators-list .product-card:nth-child(3n) {
  margin-right: 0;
}

.product-card img {
  margin-bottom: 10px;
  z-index: 2;
}

.product-card:hover .buy-block {
  z-index: 3;
}


.price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-left: 5px;
}

.price-container del {
  margin-bottom: 12px;
}

.product-card:hover {
  -webkit-box-shadow: 0 10px 25px 0 #293449;
  box-shadow: 0 10px 25px 0 #293449;

}

.card-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.product-name {
  text-align: center;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding-left: 25px;
  padding-right: 26px;
}

.popular-products del {
  text-align: center;
  color: #b0b0b0;
}

.price {
  background-color: #ffffff;
  width: 140px;
  background-image: url(../img/red-btn.svg);
  background-repeat: no-repeat;
}

.popular-manufacturers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 70px;
}

.popular-manufacturers li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  min-height: 145px;
  border: 2px solid #eaeaea;
  margin-bottom: 20px;
}

.popular-manufacturers li:hover {
  -webkit-box-shadow: 0 10px 25px 0 #293449;
  box-shadow: 0 10px 25px 0 #293449;
}

.popular-manufacturers li:active {
  -webkit-box-shadow: 0 4px 10px 0 #293449;
  box-shadow: 0 4px 10px 0 #293449;
  opacity: 0.5;
}

.services-wrapper {
  background-color: #f4f8f9;
  min-width: 1200px;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 60px 130px 95px 130px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #000000;
  margin-bottom: 35px;
}

.services-container h2 {
  margin-bottom: 24px;
}

.about-service {
  width: 410px;
}

.services-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-list {
  position: relative;
  width: 250px;
  padding-top: 55px;
  min-height: 244px;
  margin-right: 58px;
}

.services-list::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 13px;
  right: 10px;
  width: 10px;
  height: 279px;
  background-image: url(./../img/shadow.png);
  background-repeat: no-repeat;
}

.services-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: #32425c;
  color: #ffffff;
  width: 240px;
  min-height: 62px;
  margin: 0;
  padding-left: 23px;
  cursor: pointer;
}

.services-list li.service-name-active {
  background-color: #ffffff;
  color: #32425c;
}

.services-list li:hover {
  color: #ffffff;
  background-color: #293449;
}


.service-point {
  width: 620px;
  min-height: 280px;
  position: absolute;
  left: 449px;
  top: 212px;
  padding: 20px 10px 20px 2px;
}

.service-point .section-title {
  letter-spacing: 0.5px;
}

.service-delivery {
  background-color: #f4f8f9;
  background-image: url(../img/delivery-logo.png);
  background-repeat: no-repeat;
  background-position: 152px 45px;
}

.service-delivery p {
  width: 277px;
}

.service-guarantee {
  background-color: #f4f8f9;
  background-image: url(../img/guarantee-logo.png);
  background-repeat: no-repeat;
  background-position: 230px 20px;
}

.service-guarantee p {
  width: 378px;
}

.service-credit {
  background-color: #f4f8f9;
  background-image: url(../img/credit-logo.png);
  background-repeat: no-repeat;
  background-position: 152px 20px;
}

.credit-btn {
  width: 195px;
}

.service-active {
  z-index: 2;
}

.service-point h3 {
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.service-point h3:first-of-type {
  line-height: 36px;
}

.services-container p,
.about-us p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #000000;
  padding: 45px 130px 86px 130px;
  width: 1200px;
  margin: 0 auto;
}

.about-us .section-title {
  margin-bottom: 25px;
}

.about-company {
  margin-right: 120px;
}

.about-company p {
  margin-bottom: 23px;
}

.about-company p:nth-of-type(2) {
  width: 400px;
  margin-bottom: 20px;
}

.delivery-companies {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 37px;
}

.delivery-companies li {
  margin-bottom: 20px;
  position: relative;
  padding-left: 36px;
}

.delivery-companies li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -1px;
  width: 26px;
  height: 2px;
  background-color: #ee3643;
}

.about-us-btn {
  width: 220px;
}

.write-us-btn {
  width: 300px;
}

.catalog-main .section-title {
  background-color: #f2f6f8;
  min-height: 89px;
  padding: 30px 20px 20px 28px;
  font-family: 'Cuprum', Arial, sans-serif;
  margin-bottom: 20px;
}

.catalog-header {
  margin-bottom: 22px;
}

.page-breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.page-breadcrumbs li {

  position: relative;
  margin-right: 40px;
}

.page-breadcrumb {
  color: #000000;
}

.contacts-container p {
  width: 210px;
  margin-bottom: 31px;
}

.page-breadcrumb::after {
  content: "";
  position: absolute;
  left: -28px;
  top: 1px;
  width: 8px;
  height: 12px;
  background-image: url(./../img/icon-right-small.svg);
  background-repeat: no-repeat;
}

.filter-container {
  width: 220px;
  margin-right: 20px;
  text-transform: uppercase;
}

.filter-title {
  display: block;
  background-color: #f7f3ec;
  min-height: 38px;
  padding: 10px 18px;
  margin-bottom: 11px;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 28px;
  margin-bottom: 17px;
}

.filter fieldset:last-of-type {
  margin-bottom: 31px;
  border: none;
}

.filter .manufacturers-fieldset {
  padding-bottom: 23px;
}

.manufacturer-name {
  padding-left: 35px;
}

.manufacturer-name::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: -4px;
  top: -4px;
  background-image: url(./../img/checkbox-off.svg);
  background-position: center;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 2px;
  background-repeat: no-repeat;
}

.filter-check-input:checked~.manufacturer-name::before {
  background-image: url(./../img/checkbox-on.svg);
  background-position-x: 4px;
}

.filter-check-input:focus+.manufacturer-name::before {
  border: 1px solid #ee3643;
  border-radius: 3px;
}

.pwr-category-name {
  padding-left: 35px;
}

.pwr-category-name::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -3px;
  top: -4px;
  padding: 2px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(./../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.filter-radio-input:checked+.pwr-category-name::before {
  background-image: url(./../img/radio-on.svg);
  background-repeat: no-repeat;
}

.filter-radio-input:focus~.pwr-category-name::before {
  border: 1px solid #ee3643;
  border-radius: 3px;
}

.filter label {
  opacity: 0.6;
}

.filter label:hover {
  opacity: 1;
}

.filter-check-input:disabled~.manufacturer-name,
.filter-radio-input:disabled~.pwr-category-name {
  opacity: 0.3;
}

.filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  padding: 0;
  margin-bottom: 13px;
}

.filter label {
  font-size: 15px;
  line-height: 20px;
  position: relative;
}

.range-controls-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f7f3ec;
  min-height: 80px;
  margin-bottom: 6px;
}

.price-range {
  width: 182px;
  height: 2px;
  background-color: #d7dcde;
}

.active-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 160px;
  height: 2px;
  background-color: #00ca74;
}

.range-btn {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-image: url(./../img/filter-button.svg);
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.range-values-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.price-value-container {
  background-color: #f7f3ec;
  width: 95px;
  min-height: 38px;
}

.price-value-container input {
  width: inherit;
  min-height: 38px;
  font-size: 17px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
}

.manufacturers-list li {
  margin-bottom: 20px;
  position: relative;
}

.manufacturers-list li:last-of-type {
  margin-bottom: 0;
}

.power {
  letter-spacing: 0.5px;
}

.power-list li {
  margin-bottom: 20px;
}

.filter-btn {
  text-transform: uppercase;
  font-family: inherit;
  padding: 11px 38px;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.catalog-main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort-wrapper {
  width: 700px;
}

.sort-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f3ec;
  min-height: 38px;
  margin-bottom: 18px;
  padding: 10px 15px 10px 18px;
  text-transform: uppercase;
}

.sort-type-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 575px;

}

.sort-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 47px;
}

.sort-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
  -ms-flex: wrap;
  flex: wrap;
  width: 353px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sort-type li:last-of-type {
  margin-right: 0;
}

.sort-type a {
  color: #c5c5c5;
  border-bottom: 1px dotted #ee3643;
}

.sort-type .sort-type-active {
  color: #ee3643;
  border: none;
}

.sort-type a:hover {
  color: #000000;
}

.sort-type a:active {
  color: #ee3643;
}

.sort-icon {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 2px;
}

.sort-icon:hover path {
  fill: #000000;
}

.sort-btn:checked+.sort-icon path {
  fill: #ee3643;
}

.sort-btn:focus+.sort-icon {
  border: 1px solid #ee3643;
  border-radius: 3px;
}

.perforators-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.perforators-list .product-card {
  margin-right: 20px;
  margin-bottom: 19px;
}

.catalog-breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.catalog-breadcrumbs li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 38px;
  min-height: 38px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
}

.catalog-breadcrumbs li:hover {
  border: 1px solid #bdc6ca;
}

.catalog-breadcrumbs li:active {
  border: 1px solid #ee3643;
}

.catalog-breadcrumbs li:last-of-type {
  width: 140px;
}

.catalog-breadcrumbs .active-crumb {
  background-color: #ee3643;
  color: #ffffff;
  border: none;
}

.catalog-breadcrumbs a {
  color: #000000;
}

.about-perforators-wrapper {
  background-color: #f2f6f8;
  min-width: 1200px;
}

.about-perforators {
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  padding: 66px 130px 55px 130px;
  line-height: 24px;
}

.about-perforators p {
  font-family: 'PT Sans', Arial, sans-serif;
  width: 950px;
}

.about-perforators .section-title {
  padding: 0;
  margin: 0;
  letter-spacing: -0.5px;
  margin-bottom: 25px;
}

.footer-top-wrapper {
  min-width: 1200px;
  background-color: #32425c;

}

.footer-top {
  padding: 0 130px 50px 130px;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Cuprum', Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.footer-nav-container {
  padding-top: 37px;
}

.footer-bottom-wrapper {
  min-width: 1200px;
  background-color: #293449;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
  line-height: 18px;
  padding: 21px 130px 37px 130px;
}

.address-container-footer {
  color: #f3f7f9;
  padding-left: 3px;
  font-style: normal;
  width: 330px;
}

.footer-logo-wrapper {
  width: 327px;
}

.footer-logo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 32px;
  -webkit-box-shadow: 0 4px 0 0 #b52933;
  box-shadow: 0 4px 0 0 #b52933;
}

.address-container-footer a {
  color: inherit;
}

.footer-site-nav li {
  margin-right: 59px;
}

.footer-site-nav li:last-of-type,
.footer-product-categories li:last-of-type {
  margin-right: 0;
}

.footer-site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 548px;
  margin-bottom: 35px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-site-nav a {
  color: #f1f5f7;
}

.footer-site-nav a:hover {
  border-bottom: 1px solid #f1f5f7;
}

.footer-site-nav a:active {
  opacity: 0.5;
  border: none;
}

.footer-product-categories {
  padding-left: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-product-categories li {
  margin-right: 60px;
}

.footer-product-categories a {
  color: #ffda96;
}

.footer-product-categories a:hover,
.footer-bottom-links a:hover {
  border-bottom: 1px solid #ffda96;
}

.footer-product-categories a:active {
  opacity: 0.5;
  border: none;
}

.footer-copyright {
  width: 250px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 13px;
  margin-left: 25px;
}

.social-list li {
  margin-right: 3px;
}

.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
}

.social-btn:hover {
  background-color: #ee3643;
}

.social-btn:active {
  background-color: #ee3643;
}

.footer-bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
}

.footer-feedback-link {
  margin-right: 50px;
}

.footer-bottom-links a {
  color: #ffd180;
  font-size: inherit;
  line-height: inherit;
}

.footer-bottom-links a:active {
  color: #ee3643;
  border: none;
}

.min-map-img {
  cursor: pointer;
  margin-bottom: 32px;
}

.map-container {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -470px;
  background-color: #f1f0ea;
  width: 940px;
  height: 447px;
  z-index: 5;
  -webkit-box-shadow: 0 0 16px 0 #000000;
  box-shadow: 0 0 16px 0 #000000;
  overflow: hidden;
}

.frame-map {
  position: absolute;
  top: 0;
  left: 0;
}

.cart-popup {
  position: fixed;
  font-family: 'Cuprum', Arial, sans-serif;
  width: 620px;
  min-height: 282px;
  border-top: 7px solid #ff5257;
  background-color: #ffffff;
  z-index: 6;
  left: 50%;
  top: 50%;
  margin-top: -141px;
  margin-left: -310px;
  color: #000000;
  -webkit-box-shadow: 0 20px 40px 0#000000;
  box-shadow: 0 20px 40px 0#000000;
}

.btns-container {
  background-color: #f1f1f1;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.checkout-btn-cart {
  width: 220px;
  margin-right: 20px;
}

.continue-btn-cart {
  width: 220px;
  background-color: #ffffff;
  color: #424242;
  cursor: pointer;
}

.cart-popup-title {
  display: block;
  padding: 71px 124px 67px 178px;
  font-size: 30px;
  line-height: 30px;
  position: relative;
}

.cart-popup-title::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  top: 55px;
  left: 81px;
  background-image: url(./../img/icon-mark.svg);
}

.feedback-form {
  position: fixed;
  font-size: 18px;
  line-height: 18px;
  width: 620px;
  border-top: 7px solid #ff5257;
  background-color: #ffffff;
  z-index: 6;
  left: 50%;
  top: 100px;
  margin-left: -310px;
  color: #000000;
  -webkit-box-shadow: 0 20px 40px 0#000000;
  box-shadow: 0 20px 40px 0#000000;
}

.popup-form-container {
  padding: 45px 80px;
  padding-bottom: 37px;
}

.popup-field-name {
  margin-bottom: 13px;
}

.feedback-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.feedback-form input {
  width: 220px;
  height: 38px;
}

.feedback-form input[type="text"]:hover,
.feedback-form textarea:hover {
  border: 2px solid #b5b5b5;
}

.feedback-form input[type="text"]:focus,
.feedback-form textarea:focus {
  border: 2px solid #ee3643;
}

.feedback-form input,
.feedback-form textarea {
  font-family: 'PT Sans', Arial, sans-serif;
  padding-left: 15px;
  font-size: 13px;
  border: 2px solid #dee3e4;
}

.feedback-form textarea {
  padding-top: 12px;
}

.user-data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 19px;
}

.btn-send-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 112px;
  background-color: #f4f4f4;
}

.btn-send-container .btn {
  width: 460px;
}

.modal-close {
  position: absolute;
  right: 9px;
  top: 9px;
  width: 21px;
  height: 21px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 3px;
  left: 0;
  background-color: #ff5257;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.show-popup-animation {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-86px);
    transform: translateY(-86px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-86px);
    transform: translateY(-86px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
}
